.app-container {
  width: 1500px;
  /* min-height: 100vh; */
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  color: white;
  font-size: 48px;
}

.day-list {
  margin-top: 40px;
  background-color: #7777ff;
  display: flex;
  padding: 32px 20px;
  justify-content: space-around;
}

.day-list li {
  background-color: white;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.date-list {
  /* margin-top: 40px; */
  padding: 20px;
  background-color: #7777ff;
  color: #aa5555;
  /* flex-grow: 1; */
  /* list-style: none; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
